

.user-action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.user-table-wrapper {
  width:80vw;
  max-width: 80vw;
  height: 50%;
  overflow-x: auto; 
  border-radius: 0.5rem; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 

  .custom-table {
    width: 100%; 
    height: 30vh;
    border-collapse: collapse; 
    margin-bottom: 0; 
  }
}

.custom-table {
  thead {
    background-color: #f8f9fa;
    th {
      background-color: #595959;
      color: #f8f9fa; 
      font-weight: 500;
      text-align: center;
      padding: 0.75rem; 
      border: none;
    }
    
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f2f2f2; 
      }

      &:hover {
        background-color: #e9ecef; // Light gray background on hover
      }

      td {
        padding: 0.55rem; 
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
        text-overflow: ellipsis; 
        border: none;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #dee2e6; 
      }
      
    }
  }

  .avatar-img {
    border-radius: 50%; 
    width: 3rem; 
    height: 3rem;
    object-fit: cover; 
  }

  .btn {
    font-size: 0.875rem;
    padding: 0.5rem 1rem; 
    border-radius: 0.25rem; 
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }

  .btn-edit {
    background-color: rgb(112, 197, 56);
    border:none;
    margin-right: 2px;

    &:hover {
      background-color: #349613;
    }
  }

  .btn-danger {
    background-color: #dc3545;
    border:none;
    margin-left: 2px;

    &:hover {
      background-color: #c82333;
      border-color: #bd2130;
    }
  }
}

.pagination {
  justify-content: center;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.page-link {
  color: #007bff;
  &:hover {
    color: #0056b3;
    text-decoration: none;
  }
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
}
